---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*, 
                  -altera-unroll-loops, -readability-magic-numbers'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none